<div class="jumbotron">
	<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
	<table ng-show="contatos.length > 0" class="table table-striped">
		<tr>
			<th></th>
			<th>Serial</th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
			<th>Operadora</th>
			<th>Data</th>
		</tr>
	
	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>
	<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
</div>